<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list> 
    <ion-item class="text" *ngFor="let item of items | async" (click)="onListClick()">
      <ion-input type="text" [(ngModel)]="item.name"></ion-input>
      <ion-input type="text" [(ngModel)]="item.price"></ion-input>
      <button color="danger" item-end ion-button (click)="onDelete(item)"><ion-icon name="remove-circle"></ion-icon></button>
      <button color="primary" item-end ion-button (click)="onUpdate(item)"><ion-icon name="brush"></ion-icon></button>
    </ion-item>
  </ion-list>
  
</ion-content>
